/* variables  */
:root
{
  --mainBlue: #01426a;
  --mainGreen: #225D38;
  --hoverBlue: rgba(1, 66, 106, 0.25);
}

/* default configuration */
*{
  color: whitesmoke;
  font-family: 'Goldman';
  font-weight: 500;
  letter-spacing: 1px;
}

/* body and html */
body, html
{
  background-image: radial-gradient(var(--mainBlue), var(--mainGreen));
  height: 100%;
  width: 100%;
  margin: 0;
}

.topBar
{
  font-size: 200%;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
}

.topBar a
{
  text-decoration: none;
}

.bigTileButton
{
  background-color: var(--mainBlue);
  font-size: 110%;
  width: 33%;
  height: 30vh;
  margin-top: 5px;
}

.bigTileButton:hover
{
  background-color: var(--hoverBlue);
}

.bigTileButton:active 
{
  background-color: #3e8e41;
  transform: translateY(4px);
}

.viewSelect
{
  background-color: var(--mainBlue);
  font-size: 120%;
}

.controls
{
  font-size: 100%;
  padding: 5px 5px;
  margin: 0px 0px;
  /*border: 1px solid;
  border-color: #ffc107;*/
}

.homeBigTilesDiv
{
  font-size: 100%;
  padding: 5px 5px;
  margin: 0px 0px;
}

.showBorder
{
  border-color: #ffc107;
  border: 1px solid;
}

@media screen and (max-width: 1000px)
{
  .bigTileButton
  {
    width: 100%;
    height: 25vh;
  }
}

.view4Frame
{
  margin: 0;
  padding: 0;
  border: none;
  width: 48%;
  height: 48vh;
}

.pinViewerFrame
{
  margin: 0;
  padding: 0;
  border: none;
  width: 99%;
  height: calc(100vh - 55px);
}

.serialSettingsBar
{
  font-size: 120%;
}

.baudSelect
{
  background-color: var(--mainBlue);
  padding: 10px 20px;
  margin: 5px 0px;
  border: none;
}

.baudSelect:hover
{
  color: goldenrod;
}

.serialSettingButton
{
  font-size: 100%;
  background-color: var(--mainBlue);
  padding: 10px 20px;
  margin: 5px 0px;
  border: none;
  min-width: fit-content;
}

.serialSettingButton:hover
{
  color: goldenrod;
}

.serialSettingButton:active
{
  background-color: #3e8e41;
  transform: translateY(2px);
}

.serialSettingButton:disabled
{
  background-color: #808080;
}

.serialTextInput
{
  font-family: monospace;
  font-size: 120%;
  padding: 10px 20px;
  margin: 5px 0px;
  background-color: rgb(35, 35, 35);
  border: none;
  overflow: auto;
}

.serialTerminalWindow
{
  text-align: left;
  font-family: monospace;
  font-size: 120%;
  white-space: pre;
  height: calc(100% - 200px);
  border-style: solid;
  border-width: 1px;
  border-color: whitesmoke;
  overflow: auto;
  background-color: rgb(35, 35, 35);
  padding: 10px;
  margin: 0px;
}

.gridInputCell
{
  font-family: monospace;
  text-align: center;
  font-size: 130%;
  background-color: rgb(35, 35, 35);
  border-style: none;
  width: 90%;
}

.gridColHeader
{
  font-family: monospace;
  font-size: 130%;
  text-align: center;
}