:root
{
  --mainBlue: #01426a;
  --mainGreen: #225D38;
  --hoverBlue: rgba(1, 66, 106, 0.25);
}

*{
  color: whitesmoke;
  font-family: 'Goldman';
  font-weight: 500;
  letter-spacing: 1px;
}

body,html
{
/*  background-image: linear-gradient(to bottom right, #01426a, #225D38);*/
  background-image: radial-gradient(var(--mainBlue), var(--mainGreen));
  height: 100%;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
}

button
{
  background-color: var(--mainBlue);
  font-size: 110%;
  width: 33%;
  height: 30vh;
}

button:hover
{
  background-color: var(--hoverBlue);
}

button:active 
{
  background-color: #3e8e41;
  transform: translateY(4px);
}

select
{
  background-color: var(--mainBlue);
  font-size: 14px;
}

/* Style the top navigation bar */
.topnav 
{
  font-size: 3vh;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
}

.topnav a
{
}

.controls
{
  font-size: 100%;
  padding: 5px 5px;
  margin: 0px 0px;
  border: 1px solid;
  border-color: #ffc107;
}

.showBorder
{
  border-color: #ffc107;
  border: 1px solid;
}

@media screen and (max-width: 1000px)
{
  button
  {
    width: 100%;
  }
}